<app-header></app-header>
<section class="container mt-5" *ngIf="currentUser$ | async as currentUser">
  <h1>Edit user</h1>
  <form (ngSubmit)="onSubmit(userName.value)" novalidate>
    <div>
      <input #userName name="userName" (keyup)="onKeyUp($event)" value="{{currentUser.userName}}" required placeholder="User name">
    </div>
    <div class="mt-4">
      <button type="button" class="btn btn-primary btn-block mt-0 button-width" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-block mt-0 button-width">Save</button>
    </div>
  </form>
</section>
