<header class="container py-3">
  <div class="row">
    <h1 class="col">
      <a routerLink="/">Aegis Angular POC</a>
    </h1>
    <p class="col text-right">
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <ng-container *ngIf="currentUser.userName">
          <span>Hello, {{currentUser.userName}}</span><a routerLink='edit-user'>Edit</a>
          <button class="ml-5" mat-flat-button color="primary" (click)="signOut()">Sign out</button>
        </ng-container>
        <a *ngIf="!currentUser.userName" routerLink="/signin">Sign In</a>
      </ng-container>
    </p>
  </div>
  <div class="row">
    <a routerLink="/orders">My orders</a>
  </div>
</header>