<header class="container py-3">
  <div class="row">
    <h1 class="col">
      <a routerLink="/">Aegis Angular POC</a>
    </h1>
    <p class="col text-right">
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <ng-container *ngIf="currentUser.userName">
          <span>Hello, {{currentUser.userName}}</span><a routerLink='edit-user' class='p-2'>Edit</a>
          <button type="button" class="btn btn-primary btn-block mt-0 button-width" (click)="signOut()">Sign out</button>
        </ng-container>
        <a *ngIf="!currentUser.userName" routerLink="/signin">Sign In</a>
      </ng-container>
    </p>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/orders">My orders</a>
      <a routerLink="/add-address">Add address</a>
    </div>
  </div>
</header>
